

body{
	background-color: rgb(16, 16, 26);
	justify-content: center;
}


.main_title{
	font-family: sans-serif;
	color: gold;
	background-color: rgba(251,246, 251, .1);
	
	
	font-size: 4vw;	
	text-align: center;
	opacity: 1;

	
	
}
.nav{
	/* border: solid white; */
	padding: 30px;
	margin: 20px;
}

.navigation{
	color: black;
	padding: 10px;
	margin: 10px;	
	background-color: cyan;
	border-radius: 40px;
	text-align: center;
	text-decoration: none;
	flex: initial;
	font-size: 4vw;
	display: inline-flex;
	transition: .2s;
	
	flex-grow: 0;
	
	
}
.navigation:hover{
	transform: scale(1.1);
	background-color: yellow;
}

h3{
	
	color: gold;
	font-family: 'Orelega One', cursive;
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
	left: 50%;
}
i{
	font-size: 20px;
}
.price{
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	text-align: left;
	
	
}

.about{
	text-align: center;
	background-color: #101010;
	padding: 10px;
	opacity: .9;
}	


.menu_itms{
	padding: 30px;
	margin: 5px;
	background-color: #aa2d2d;
	min-width: 25ch;

	
}
.menu{
	
	background-blend-mode: multiply;
	color: white;
	justify-content:  center;
	display: flex;
	flex-wrap: wrap;
	z-index: -3;
	
}
.menu >*{
	flex: 1 1 33%;
	
	border-radius: 30px;
}	

.menu_description{
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.paragraph_text{
	/* background-color:  #aa2d2d; */
	padding: 30px;
	color: white;
	font-size: 3vw;
	border-radius: 5px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	
}
.time{
	margin: 10px;
	padding: 10px;
	
	background-blend-mode: multiply;
	color: white;
	text-align: center;
	font-size: 4vw;
}
#contact{
	font-size: 4vw;
}

.head{
	background-color: #101010;
    background-image: url(https://cdn.pixabay.com/photo/2018/08/30/16/57/coffee-3642712__340.png);
	/* background-image: url(https://media1.giphy.com/media/7JzHsh3UTip20/giphy.gif); */
	opacity: .9;
	background-position: left;
    background-blend-mode: soft-light;
	font-size: 30px;
    background-repeat: no-repeat;
	background-position: top center;
	display: inline-block;
	padding: ;
	margin 0;
	text-align: center;
	width: 100%;
	position: relative;
	bottom: o;
	border-radius: 15px;
	
	/* text-align: center;
    padding: 5em 0;
    background-color: #444;
    background-image: url(/images/cofee-logo.png), radial-gradient(#444, #111);
    background-blend-mode: inherit;
    background-size: ;
    color: yellow;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top; */
}
	
   /* }
.head>*{
	
	flex: 1 1 100%;
} */
/* Backgrounds of menu Items sushi, cocktails, salmonfish, burger, pizza, juice, espresso, steak*/

#salmonfish{
	background-image: url(https://cdn.pixabay.com/photo/2014/11/05/15/57/salmon-518032_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
	filter: ;

}

@media(hover: hover) and (pointer: fine){:is(#salmonfish, #salad, #burger, #juice, #sushi, #cocktails, #steak, #rice, #espresso, #pizza, #corn, #fries):hover{
	transform: scale(1.002);
	background-color: rgba(16 16 16 0.9);
	background-blend-mode: overlay;
	text-transform: 

}}
#salad{
	background-image: url(https://cdn.pixabay.com/photo/2018/04/21/03/47/food-3337621_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
}
#burger{
	background-image: url(https://cdn.pixabay.com/photo/2019/11/09/17/02/burger-4614022_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
}
#juice{
	background-image: url(https://cdn.pixabay.com/photo/2016/10/09/14/00/vegetable-juices-1725835_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
}
#sushi{
	background-image: url(https://cdn.pixabay.com/photo/2020/04/04/15/07/sushi-5002639__340.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}
#cocktails{
	background-image: url(https://cdn.pixabay.com/photo/2016/11/29/13/33/cocktails-1869868_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
}
#steak{
	background-image: url(https://cdn.pixabay.com/photo/2018/10/22/22/18/steak-3766548_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
}
#espresso{
	background-image: url(https://cdn.pixabay.com/photo/2019/11/11/15/32/coffee-4618705_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
}
#pizza{
	background-image: url(https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
}
#fries{
	background-image: url(https://cdn.pixabay.com/photo/2015/09/05/01/05/french-fries-923687_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
}
#rice{
	background-image: url(https://cdn.pixabay.com/photo/2017/07/16/11/57/fried-2509089_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
}
#corn{
	background-image: url(https://cdn.pixabay.com/photo/2021/01/23/15/58/corn-5942859_960_720.jpg);
	background-blend-mode: inherit;
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
}
.myvideo{
	position: absolute;
  left: 0;
  top: 0;
    
  min-width: 100%;
  max-height: 100%;
  opacity: .2;
  z-index: -1;
  

}
input[type=submit]{
    padding: 10px 30px;
	background-color: turquoise;
	border: none;
	border-radius: 20px;
	opacity: .6;
	order: 3;
	/*z-index: -4;*/
	font-weight: 700;	
	transition: .2s;
}
input[type=submit]:hover{
	transform: scale(1.2);
	background-color: yellow;
}
